<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoftwareListCacheFileName</key>
	<string>MacxSoftwareList.xml</string>
	<key>SoftwareListCacheDate</key>
	<date>2014-08-30T06:24:40Z</date>
	<key>MacxCacheExpire</key>
	<integer>12</integer>
	<key>MacxNewsCacheFileName</key>
	<string>MacxNewsList.json</string>
	<key>MacxNewsCacheDate</key>
	<date>2014-08-30T06:24:40Z</date>
	<key>SoftwaresNumbersPerRequest</key>
	<integer>20</integer>
	<key>DatelineDaysForMacxNews</key>
	<integer>2</integer>
	<key>SoftwareListProviders</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://soft.macx.cn</string>
			<key>name</key>
			<string>macx</string>
			<key>description</key>
			<string>MacX是很多Mac爱好者的乐园，可以免费（免积分）下载各种优秀的破解软件。一直以来我都是直接浏览网站，下载自己需要的软件的。现在他们出了一款客户端软件，可以直接的在本地搜索和更新软件。</string>
			<key>version</key>
			<string>1.2.3</string>
			<key>apis</key>
			<array>
				<dict>
					<key>contentType</key>
					<string>text/html</string>
					<key>name</key>
					<string>likeapp</string>
					<key>method</key>
					<string>GET</string>
					<key>path</key>
					<string>/like-app.asp</string>
					<key>parameters</key>
					<dict>
						<key>softid</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>contentType</key>
					<string>text/html</string>
					<key>name</key>
					<string>totalNumbers</string>
					<key>method</key>
					<string>GET</string>
					<key>path</key>
					<string>/number.asp</string>
				</dict>
				<dict>
					<key>contentType</key>
					<string>text/xml</string>
					<key>name</key>
					<string>softwarelist</string>
					<key>parameters</key>
					<dict>
						<key>order</key>
						<string></string>
						<key>no</key>
						<integer>10</integer>
						<key>id</key>
						<string>soft</string>
					</dict>
					<key>path</key>
					<string>/xml.asp</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<dict>
					<key>contentType</key>
					<string>text/xml</string>
					<key>name</key>
					<string>queryAllSoftwares</string>
					<key>path</key>
					<string>/softlist.xml</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<dict>
					<key>contentType</key>
					<string>text/xml</string>
					<key>name</key>
					<string>ajaxSearch</string>
					<key>parameters</key>
					<dict>
						<key>keyword</key>
						<string></string>
					</dict>
					<key>path</key>
					<string>/ajax_result.asp</string>
					<key>method</key>
					<string>POST</string>
				</dict>
				<dict>
					<key>contentType</key>
					<string>application/json</string>
					<key>name</key>
					<string>macxnews</string>
					<key>parameters</key>
					<dict>
						<key>module</key>
						<string>forumdisplay</string>
						<key>fid</key>
						<string>news</string>
						<key>filter</key>
						<string>author</string>
						<key>orderby</key>
						<string>repley</string>
						<key>dateline</key>
						<real>86400</real>
					</dict>
					<key>path</key>
					<string>http://www.macx.cn/api/mobile/index.php</string>
					<key>method</key>
					<string>GET</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
