<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="downloads" class="clearfix">
          <a href="http://pan.baidu.com/s/1qW6rGx2#dir/path=%2FGithub%2F{{ site.title }}" id="download-dmg" class="button"><span>下载安装包</span></a>
          
          <a href="/posts" id="download-zip" class="button"><span>开发日志</span></a>
          
          <a href="{{ site.github }}" id="view-on-github" class="button"><span>访问GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
         {{ content }}
        </section> 
        
        {% include footer.html %}

        
      </div>
    </div>
    
    </body>
</html>